# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Credentials
token.json
credentials.json
api.env
*.pem
service_account.json

# Jupyter
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/
